@model ProductDetailVM




<div class=" productcontainer row mt-5">
    @{
        int count = 0;
    }
    @foreach (var product in Model.Product)
    {
        count++;
        string ModalProduct = "ModalProduct" + count;

        <div class=" col-lg-4 col-md-4">
            <a data-bs-toggle="modal" data-bs-target="#@ModalProduct">
                <div class="productcard ">
                    <div class="productcard-image">
                        <img src="/ProductsImages/@product.CoverImage">
                    </div>
                    <div class="productcard-text">
                        <h2 class="productcard-title">@product.ProductName</h2>
                    </div>
                    <div class="productcard-price">$@product.Price</div>
                </div>
            </a>
        </div>

                // Modal Yapissi

        <div class="modal fade" id="@ModalProduct" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalCenterTitle"><strong>Add New Product</strong></h1>
                        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="px-0">
                        <form asp-action="List" method="post">
                            <div class="modal-body">

                                @* Product Detail Icerigi*@
                                <div class="container">
                                    <section class="mx-auto my-5" style="max-width: 32rem;">

                                        <div class="card">
                                            <div class="bg-image hover-overlay ripple card-body" data-mdb-ripple-color="light">
                                                <img src="/ProductsImages/@product.CoverImage" class="img-fluid" />
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h2 class="card-title font-weight-bold text-center text-danger"><a>@product.ProductName</a></h2>

                                                <h4 class="mb-2 text-center">@product.Price</h4>
                                                <div>
                                                    <hidden>
                                                        <input type="text" hidden="hidden" value="@product.ProductID" name="ProductID" />
                                                    </hidden>
                                                    @{
                                                        int count2 = 0;
                                                    }
                                                    @if (@product.CategoryID == 1)
                                                    {
                                                        <div class="btn-group w-75 h-25 bg-gradient row " role="group" aria-label="Basic checkbox toggle button group">


                                                            @foreach (var garniture in Model.AllGarnitures)
                                                            {
                                                                count2++;
                                                                bool isSelected = product.Garnitures.Any(s => s.GarnitureID == garniture.GarnitureID);

                                                                string btnid = $"{product.ProductName}" + count2;
                                                                <div class="col-md-4 col-lg-4 col-sm-4  ">
                                                                    @if (isSelected)
                                                                    {
                                                                        <input type="checkbox" checked="checked" class="btn-check" id="@btnid" name="selectedProducts" value="@garniture.GarnitureID" autocomplete="off">
                                                                        <label class="btn btn-outline-warning m-2" for="@btnid">@garniture.GarnitureName</label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" class="btn-check" id="@btnid" name="selectedProducts" value="@garniture.GarnitureID" autocomplete="off">
                                                                        <label class="btn btn-outline-warning m-2" for="@btnid">@garniture.GarnitureName</label>
                                                                    }

                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                                <div class="text-center mb-4">
                                                    <label class="fs-5">Quantity:</label>
                                                    <input type="number" value="1" class="w-25" name="quantity" />

                                                </div>


                                                <div class="modal-footer justify-content-between">

                                                    <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Cancel</button>
                                                    <input type="submit" class="btn btn-success text-white" value="Add Basket" asp-action="AddProductAsCard" asp-controller="Product" />
                                                </div>
                                            </div>
                                        </div>

                                    </section>
                                </div>


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>



    }
</div>




